<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Stats</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" id="bootstrap-css" href="{% static 'homepage/vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/logo-nav.css' %}">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="http://placehold.it/300x60?text=Logo" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          </ul>
        </div>
      </div>
    </nav>

    <!-- Form Styling -->
    <style>
    form {
      padding-top: 2%;
      padding-left: 10%;
    }
    </style>

    <form method="get">
      <div class="form-row">
        <label for="keywords" class="text-right">Keywords:</label>
      <div class="col-4">
      <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Add skills/languages separated by commas eg. java, agile, etc." value="{{ keywords }}">
      </div>
        <label for="filters" class="text-right">Filters:</label>
      <div class="col-4">
        <input type="text" class="form-control"  name="filters" id="filters" placeholder="Add filters separated by commas eg. java, agile, etc." value="{{ filters }}">
      </div>
      <div class="col-2">
      <button type="submit" value="OK" class="btn btn-primary">Submit</button>
      </div>
      </div>
    </form>

    <!-- Graph Responsiveness -->
    <style>
      .embed-responsive-21by7
      {
        padding-top: 40%;
      }
    </style>

    <!-- Embedded Plotly Graph -->
    <div class="container embed-responsive embed-responsive-21by7">
      <iframe id="encoder_iframe" class ="embed-responsive-item" frameBorder="0" height = "default" width = "default" src = "{% url 'job-trends' %}" allowfullscreen></iframe>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
